
.message-list-item .reaction-button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.message-list-item:hover .reaction-button {
  opacity: 1;
}
.message-text-content {
 
  word-wrap: break-word;
  word-break: break-word;

 
  white-space: pre-wrap; 
}